.App-header {
  padding: 5px;
  color: white;
  border-bottom: 1px solid #ccc;
  background-color: #212121;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  position: relative;
  z-index: 1;
}
